.card {
  background-color: var(--bg-color--secondary);
  box-shadow: 0 0 5px 3px var(--shadow-color);
  display: block;
  transition: box-shadow 1s, background-color .75s;
  overflow: hidden;
  border-radius: 5px;

  &:hover {
    transition: box-shadow 1s;
    box-shadow: 0 0 7px 10px var(--shadow-color);
  }
}

.card__content {
  padding: 20px;
}

.card__list-key {
  float: left;
  padding-right: 5px;
}

.card__image-container {
  @include media-breakpoint-up(md){
    height: 160px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  @include media-breakpoint-up(lg){
    height: 225px;
  }
}
