// default dark theme

:root {
  --bg-color: #222d36;
  --bg-color--secondary: #2B3945;
  --font-color: #fff;
  --shadow-color: #222c34;
}

[data-theme="light"] {
  --bg-color: #fafafa;
  --bg-color--secondary: #fff;
  --font-color: #000;
  --shadow-color: #f6f6f6;
}
